/*======================================LAYOUT======================================*/

:root {
    --cse-blue: rgb(30, 90, 165);
    --cse-red: rgb(195, 45, 45);
    --navgray: rgba(128, 128, 128, 0.5);
    --btn-gradient1: #d0d0d0;
    --btn-gradient2: #e0e0e0;
    --btn-gradient3: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.content {
    height: 100vh;
    background: linear-gradient(green, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: fit-content;
    width: 40%;
    min-width: 25rem;
    padding: 1.5rem;

    background-color: var(--navgray);
    border: 2px solid var(--navgray);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    box-shadow: 0 0 50px -25px white;
}

/*=======================================NAV========================================*/

/*Main Logo*/

#main-logo-container {
    background: linear-gradient(
        to bottom,
        var(--btn-gradient3) 0%,
        var(--btn-gradient2) 20%,
        var(--btn-gradient1) 50%,
        var(--btn-gradient2) 80%,
        var(--btn-gradient3) 100% 
        );
    box-shadow: 0 0 10px 2px white;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
    #main-logo-container:hover {
        background: linear-gradient(
        to bottom,
        var(--btn-gradient3) 0%,
        var(--btn-gradient2) 30%,
        var(--btn-gradient1) 50%,
        var(--btn-gradient2) 70%,
        var(--btn-gradient3) 100% 
        );
        box-shadow: 0 0 10px 3px white;
        transform: scale(1.01);
    }

    #main-logo-container:active {
        background: linear-gradient(
        to bottom,
        var(--btn-gradient3) 0%,
        var(--btn-gradient2) 20%,
        var(--btn-gradient1) 50%,
        var(--btn-gradient2) 80%,
        var(--btn-gradient3) 100% 
        );
        box-shadow: 0 0 10px 2px white;
        transform: scale(1);
    }

#site-logo, #site-name {
    transform: translateX(-.7rem);
}

#site-logo {
    width: 5rem;
    border-radius: 50%;
}

#site-name {
    margin-left: -1rem;
    font-size: 4.5rem;
}
    #CSE {
        background: linear-gradient(
            90deg, 
            var(--cse-blue) 0%, 
            var(--cse-blue) 53%, 
            var(--cse-red) 53%, 
            var(--cse-red) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #R {
        color: green;
        margin-left: -1.2rem;
    }


/*Course Options*/

#courses-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-option {
    background: linear-gradient(
        to bottom,
        var(--btn-gradient3) 0%,
        var(--btn-gradient2) 20%,
        var(--btn-gradient1) 50%,
        var(--btn-gradient2) 80%,
        var(--btn-gradient3) 100% 
        );
    width: 60%;
    min-width: 20rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3a3a3a;
    height: 4.5rem;
    margin: .5rem;
    padding: .25rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px 1px white;
    border-radius: 10px;
}
    .course-option:hover {
        box-shadow: 0 0 10px 2px white;
        font-weight: bold;
        color: black;
    }
    .course-option:active {
        box-shadow: 0 0 10px 1px white;
        color: #3a3a3a;
    }